/*
Imports
*/
@import url('https://fonts.googleapis.com/css?family=Hind');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*
Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
Styles
*/

::selection {
	color: white;
	background-color: coral;
}

html {
	font-size: 1em;
  font-family: 'Hind', 'Helvetica Neue', sans-serif;
	letter-spacing: -0.225px;
  background-color: #111;
  color: white;
}

@media (min-width: 320px) {
	html {
		font-size: 1.25em;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 1.46875em;
	}
}

body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: normal;
  margin-bottom: 1rem;
}

h1 {
  margin-top: 0;
  font-size: 1.602em;
}

h2 { font-size: 1.424em; }

h3 { font-size: 1.266em; }

h4 { font-size: 1.125em; }

small, .font_small { font-size: 0.889em; }

p {
	font-size: 1rem;
	margin-bottom: 1.3em;
}

a {
	display: inline-block;
	line-height: 1em;
  color: #fff;
  text-decoration: none;
	transition: all 400ms ease;
	-o-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-webkit-transition: all 400ms ease;
}

a:hover {
  color: rgba(255, 255, 255, 0.6);
}

p > a {
	border-bottom: solid 2px rgba(255, 255, 255, 0.15);
}

p > a:hover {
	color: inherit;
	border-bottom-color: rgba(255, 255, 255, 1);
}

/* Remove bottom border from image links */
a[href$=jpg], a[href$=jpeg], a[href$=jpe], a[href$=png], a[href$=gif],
a[href$=jpg]:hover, a[href$=jpeg]:hover, a[href$=jpe]:hover, a[href$=png]:hover, a[href$=gif]:hover {
	border: none;
}

ol, ul {
	margin: 0;
	margin-bottom: 1.3em;
	padding-left: 1em;
}

li > ul {
	margin: 0 0 0 1em;
}

li > p {
	margin: 0;
}

section {
	display: block;
	padding: 100px 24px;
	border-top: 3px solid rgba(255, 255, 255, 0.03);
}

@media (min-width: 768px) {
	section {
		padding: 100px 120px;
	}
}

blockquote {
  background: rgba(255, 255, 255, 0.1);
  border-left: 6px solid rgba(255, 255, 255, 0.2);
  margin: 1.5em 0px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote p {
  display: inline;
	font-size: 0.9em;
}
