/*
Imports
*/
@import url('https://fonts.googleapis.com/css?family=Hind');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*
Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
Styles
*/

::selection {
	background-color: coral;
}

html {
  font-family: 'Hind', 'Helvetica Neue', sans-serif;
  background-color: #111;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
  margin-bottom: 1rem;
}

p {
  line-height: 1.65em;
	margin-bottom: 1.3em;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all .2s ease;
}

a:hover {
  color: rgba(255, 255, 255, 0.6);
}

section {
	display: block;
	padding: 100px 24px;
	border-top: 3px solid rgba(255, 255, 255, 0.03);
}

@media (min-width: 768px) {
	section {
		padding: 100px 120px;
	}
}
